body {
    background: #eee;
	margin:0;
	font-family: 'Open Sans', sans-serif; 
}
main {
  display: flex;
}

.logo{

}
.navigasi
<style>
    * {margin:0; padding:0;}

    body {
     background-color:#fff;
     font-family:Times News Roman, Helvetica, sans-serif;
     color:#000;
    }

    nav {
     position: relative; /*mengatur posisi navigasi*/
     top: 25px;       /*posisi atas*/
	 bottom:0px;     /*posisi bawah*/
     right:50px;
     left:75px;
     text-align: center;
     width: 87%;
	 
    } 

    nav ul ul {
     display: none;
    }

    nav ul li:hover > ul{
    display: block;
    width: 100px;
    }

    nav ul {
     background: #4630f0; /*background navigasi*/
     padding: 0 20px;
     list-style: none;
     position: relative;
     display: inline-table;
     width: 100%;
    }

    nav ul:after {
     content: ""; 
     clear:both; 
     display: block;
    }

    nav ul li{
     float:left;
    }

    nav ul li:hover{
     background:#666;
    }

    nav ul li:hover a{
     color:#fff;
    }

    nav ul li a{
     display: block;
     padding: 25px;
     color: #fff;
     text-decoration: none;
    }

    nav ul ul{
     background: #3ec941;
     border-radius: 0px;
     padding: 0;
     position: absolute;
     top:100%;
    }

    nav ul ul li{
     float:none;
     border-top: 1px soild #3ec941;
     border-bottom: 1px solid #3ec941;
     position: relative;
    }

    nav ul ul li a{
     padding: 15px 40px;
     color: #fff;
    }

    nav ul ul li a:hover{
     background-color: #666;
    }

    nav ul ul ul{
     position: absolute;
     left: 100%;
     top: 0;
    }
    </style>

	/*---------------------------------------------*/


.footer {
  margin-bottom: 5px;
  padding: 15px 0;
}

/*---------------------KONTEN--------------------*/
.konten {
  width: 800px;
  height:1000px; /*mengatur tinggi kontent*/
  background: #faf7f7;
	position: relative; /*mengatur posisi kontent*/
        top: 60px;       /*menurunkan posisi*/
		bottom:0px;     
		right:90px;
		left:150px;
        border: 1px solid #000;
 
}


/*---------------------------------------------------*/

 /*LOGIN WEBSITE*/

body{
	font-family: sans-serif;
	background: #d5f0f3;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}
.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
	margin: -50px 0px;
	padding: 30px 80px;
	position: relative; 
        top: -10px;       /*menurunkan */
		bottom:50px;     /*posisi naik*/
		right:50px;
		left:-100px;
}
.kotak_login{
	text-align:center;
	width: 30px; /*lebar kotak login*/
	height:120px; /*tinggi kotak login*/
	background: #f5f5f5;

	/*meletakkan form ke tengah*/
	margin: 60px;
	padding: 50px 150px;
	position: relative; 
        top: 0px;       /*posisi atas*/
		bottom:0px;     /*posisi bawah*/
		right:90px;
		left:130px;
}
 
label{
	font-size: 12pt;
	margin: 0px 0px;
	padding: 0px 0px;
	position: relative; 
        top: 17px;       /*posisi atas*/
		bottom:0px;     /*posisi bawah*/
		right:0px;
		left:-100px;
	
}

 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 800%; /*membuat panjang kotak login dan username*/ 
	padding: 5px;
	font-size: 11pt;
	margin-bottom: 5px;
	position: relative; 
        top: 20px;       /*posisi atas*/
		bottom:0px;     /*posisi bawah*/
		right:0px;
		left:-100px;
}
 
.tombol_login{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100px;
	height:30px;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	position: relative; 
        top: 30px;       /*posisi atas*/
		bottom:50px;     /*posisi bawah*/
		right:20px;
		left:-30px;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

/*---------------------------------------------------*/


/*-----------------BODY--------------------*/
html,body{
background-color: #16dba0; /*background body*/
background-size: cover;
background-repeat: no-repeat;
height: 130%;
font-family: 'Numans', sans-serif;
}
/*-----------------------------------------*/

/*------------SIDEBAR CATEGORIES----------*/
.categories{
		font:bold;
		line-height:40px;
		font-size:24px;
		color:#FFFFCC;
		background-color:#FF9900;
		padding:0 0 0 17px;
		margin-top:30px;
		width: 70%;
		height:40px;
		position: relative; /*mengatur posisi navigasi*/
     top: -35px;       /*posisi atas*/
	 bottom:50px;     /*posisi bawah*/
     right:40px;
     left:190px;
}

.form_komentar{
	position: relative; /*mengatur posisi navigasi*/
     top: 100px;       /*posisi atas*/
	 bottom:50px;     /*posisi bawah*/
     right:90px;
     left:150px;
}

/*-------------FOOTER----------------*/
.footer {
  width: 80%;
  height:45px;
  background: #C3C3C3;
  text-align: center;
  position: relative; /*mengatur posisi navigasi*/
     top: 110px;       /*posisi atas*/
	 bottom:0px;     /*posisi bawah*/
     right:50px;
     left:140px;
}
/*-----------------------------------------*/
